/*Paleta de colores
#07382A
#62C3A8
#16B88A
#424A48
#108463
#FFFFFF
*/
.nav{
    position: fixed;
    background-color: #07382A;
    height: 80px;
    display: flex;
    justify-content: end;
    width: 100%;
    z-index: 2000;
}
.nav p{
    margin:0
}
.links{
    font-size: 20px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}
.links p{
    color: aliceblue;
}